html,
body {
  height: 100%;
  background: #fff;
  color: #777;
  font-family: 'Oxygen', sans-serif;
}

@font-face {
  font-family: 'typicons';
  src: url('css/font/typicons.eot');
  src: url('css/font/typicons.eot?#iefix') format('embedded-opentype'),
       url('css/font/typicons.woff') format('woff'),
       url('css/font/typicons.ttf') format('truetype'),
       url('css/font/typicons.svg#typicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

/** Navbar **/
.navbar {
  min-height: 40px;
  max-height: 40px;
  padding-top: 5px;
  margin: 0;
  line-height: 27px;
}

.navbar .navbar-brand {
  padding: 0 20px 0 0;
  font-weight: 700;
  letter-spacing: 1px;
}

.navbar .logo a {
  color: #555;
}

.navbar .logo span:last-child {
  padding-left: 10px;
}


/** Map **/
body > .container {
  padding: 40px 0 0 0;
  height: 100%;
  width: 100%;
}

#map {
  width: 100%;
  height: 100%;
  border: 0;
}

/******************************************************************************/
#map-zoominfo {
    position: fixed;
    width: 300px;
    top: 45px;
    left: 50%;
    margin-left: -150px;
}

#map-loading {
    display: block;
    margin-left: 23px;
    margin-top: -43px;
    width: 35px;
    height: 37px;
    padding-top: 7px;
}

/** Leaflet fixes **/
.leaflet-control-requery {
  position: absolute;
  left: 30px;
}

.leaflet-control-requery-btn {
  width: 50px !important;
  height: 52px !important;
  line-height: 52px !important;
  font-size: 25px;
}

.leaflet-control-rotate {
  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.leaflet-control-requery-info {
  display: block;
  position: absolute;
  top: 65px;
  left: 100px;
  background: rgba(0,0,0,.6);
  border-color: rgba(0,0,0,.6);
  color: #eee;
  padding: 3px 5px;
  border-radius: 2px;
}


.leaflet-control-requery-info:before {
  border-right: 6px solid rgba(0,0,0,.6);
  border-right-color: inherit;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  content: "";
  position: absolute;
  top: 6px;
  left: -6px;
}

/*
* List
*/
#indoor-navigation {
    display: none;
}

#indoor-categories {
   margin-top: 5px; 
}

#indoor-escape {
  float: right;
}

#indoor-rooms {
    overflow: auto;
    margin-top: 10px;
    height: 420px;
}

.indoor-list-room {
    margin: 2px 0;
    font-size: 85%;
}

.indoor-list-room:hover{
    background: #eee;
    cursor: pointer;
    cursor: hand;
}

/*
* Opening hours list
*/

.opening_hours-datelist .closed {    
    color: red;
    padding-left: 15px;
}

.opening_hours-datelist .open {    
    color: green;
    padding-left: 15px;
}

/*
* List - webkit scrollbar
*/
#indoor-rooms::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}
#indoor-rooms::-webkit-scrollbar-track {
    background: #FFFFFF;
}
#indoor-rooms::-webkit-scrollbar-thumb {
    min-height: 30px;
    background: #DEDEDE;
}
#indoor-rooms::-webkit-scrollbar-thumb:hover {
    background: #bbb;
}
#indoor-rooms::-webkit-scrollbar-thumb:active {
    background: #bbb;
}

/*
* Misc
*/

hr {
    margin: 5px 0;
}

.brand span {
    position: relative;
    top: 5px;
    padding-left: 5px;
}

.dropdown-menu {
    z-index: 1010;
}

.tools {
  display: none;
  position: absolute;
  z-index: 10;
  top: 60px;
  right: 20px;
  
  background: #fafafa;
  max-height: calc(100% - 140px);
  height: /*31px;*/ auto;
  width: 300px;
  padding: 5px 10px;
  overflow: auto;
  
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 -3px 8px rgba(0,0,0,0.2);
}

.tools h3 {
  font-size: 22px;
  font-family: 'Oxygen', sans-serif;
  margin-top: 5px;
  width: calc(100% - 50px);
  float: left;
}

.tools #indoor-escape {
  margin-top: 5px;
}

#footer {
  height: 40px;
  width: 100%;
  background-color: rgba(255,255,255,.7);
  position: absolute;
  bottom: 0;
}

#footer .container > div {
  padding-top: 11px;
}